 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Here is your Latinized Phrase:</h1>
    <%=@latinized_text.latinize%>
  </body>
</html>
 