<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/piglatinize" method="post">
      <input type="text" name="user_input" id="user_input">
      <input type="submit" id="submit" text="Submit">
    </form>
  </body>
</html>